# TECH CHALLENGE FIAP - 2024

Imagine agora, que voc√™ vai atuar como Expert em Data Analytics em uma empresa que exporta vinhos do Brasil para o mundo todo.

Sua √°rea √© rec√©m-criada dentro da empresa, e voc√™ ser√° respons√°vel pelos relat√≥rios iniciais a serem apresentados em uma reuni√£o de investidores e acionistas, explicando a quantidade de vinhos exportados e os fatores externos que podem vir a surgir e que interferem nas an√°lises:

1. Dados clim√°ticos
2. Dados demogr√°ficos
3. Dados econ√¥micos
4. Dados de avalia√ß√£o de vinhos

O Head de Dados pediu para que voc√™ constru√≠sse uma tabela contendo as seguintes informa√ß√µes:

1. Pa√≠s de origem
2. Pa√≠s de destino
3. Quantidade (L)
4. Valor em US$

Os dados que lhe forneceram s√£o de uma vin√≠cola parceira, e podem ser encontrados <a href="http://vitibrasil.cnpuv.embrapa.br/index.php?opcao=opt_01" target="_blank">aqui</a>.

Agora, voc√™ precisa construir um relat√≥rio com as informa√ß√µes solicitadas.

Seu objetivo √© dizer o montante de venda de exporta√ß√£o nos √∫ltimos 15 anos, separando a an√°lise por pa√≠s e trazendo quais as prospec√ß√µes futuras e poss√≠veis a√ß√µes para uma melhoria nas exporta√ß√µes. Construa gr√°ficos atraentes e que passem a ideia central para que os acionistas e investidores possam seguir em frente com suas a√ß√µes.

## An√°lise Explotat√≥ria de Dados

In [63]:
import pandas as pd

In [64]:
export_data = pd.read_csv("../data/ExpVinho.csv", sep=";")

In [65]:
export_data.shape

(128, 108)

In [66]:
export_data.head(-5)

,Id,Pa√≠s,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1
0,1,Afeganist√£o,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,11,46,0,0
1,2,√Åfrica do Sul,0,0,0,0,0,0,0,0,...,0,0,26,95,4,21,0,0,0,0
2,3,"Alemanha, Rep√∫blica Democr√°tica",0,0,0,0,4168,2630,12000,8250,...,10794,45382,3660,25467,6261,32605,2698,6741,7630,45367
3,4,Angola,0,0,0,0,0,0,0,0,...,477,709,345,1065,0,0,0,0,4068,4761
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,119,"Tcheca, Rep√∫blica",0,0,0,0,0,0,0,0,...,2712,20980,2115,16391,563,4805,456,5988,1305,9997
119,120,Togo,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1890,2012,17317,25608
120,121,Trinidade Tobago,0,0,0,0,0,0,336,300,...,0,0,0,0,0,0,0,0,0,0
121,122,Tun√≠sia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122,123,Turquia,0,0,0,0,0,0,0,0,...,360,150,115,209,0,0,343,878,418,503

## Transforma√ß√£o dos dados

In [67]:
export_data.columns[-32:]

Index(['2007', '2007.1', '2008', '2008.1', '2009', '2009.1', '2010', '2010.1',
       '2011', '2011.1', '2012', '2012.1', '2013', '2013.1', '2014', '2014.1',
       '2015', '2015.1', '2016', '2016.1', '2017', '2017.1', '2018', '2018.1',
       '2019', '2019.1', '2020', '2020.1', '2021', '2021.1', '2022', '2022.1'],
      dtype='object')

In [68]:
# Selecionando as colunas de interesse para os dados de exporta√ß√£o de vinhos

total_columns = len(export_data.columns)
selected_export_data = export_data.iloc[
    :, [0, 1] + list(range(total_columns - 32, total_columns))
]
selected_export_data.head()

,Id,Pa√≠s,2007,2007.1,2008,2008.1,2009,2009.1,2010,2010.1,...,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1
0,1,Afeganist√£o,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,11,46,0,0
1,2,√Åfrica do Sul,0,0,0,0,0,0,0,0,...,0,0,26,95,4,21,0,0,0,0
2,3,"Alemanha, Rep√∫blica Democr√°tica",119512,238052,265742,429970,225086,393482,27715,138666,...,10794,45382,3660,25467,6261,32605,2698,6741,7630,45367
3,4,Angola,25931,49753,25721,71083,54786,84235,33557,189891,...,477,709,345,1065,0,0,0,0,4068,4761
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

üö® Podemos notar que a coluna terminada em .1 se refere ao valor monet√°rio (US$) e a coluna que apresenta somente o ano se refere a quantidade em (Kg). 

Deste modo podemos separar nossos dados em duas tabelas diferentes, uma para quantidade e outra para valor.

In [69]:
# Filtrar as colunas para quantidade exportada
exported_quantity = selected_export_data.melt(
    id_vars=["Id", "Pa√≠s"], var_name="Ano", value_name="exported_quantity"
)
exported_quantity = exported_quantity[
    exported_quantity["Ano"].apply(lambda x: not x.endswith(".1"))
]

# Filtrar as colunas para valor exportado
exported_value = selected_export_data.melt(
    id_vars=["Id", "Pa√≠s"], var_name="Ano", value_name="exported_value"
)
exported_value = exported_value[
    exported_value["Ano"].apply(lambda x: x.endswith(".1"))
]

# Remover o sufixo '.1' dos anos em valor exportado
exported_value["Ano"] = exported_value["Ano"].str.replace(".1", "")

In [70]:
exported_value.head()

     Id                             Pa√≠s   Ano  exported_value
128   1                      Afeganist√£o  2007               0
129   2                    √Åfrica do Sul  2007               0
130   3  Alemanha, Rep√∫blica Democr√°tica  2007          238052
131   4                           Angola  2007           49753
132   5                         Anguilla  2007               0

In [71]:
exported_quantity.head()

   Id                             Pa√≠s   Ano  exported_quantity
0   1                      Afeganist√£o  2007                  0
1   2                    √Åfrica do Sul  2007                  0
2   3  Alemanha, Rep√∫blica Democr√°tica  2007             119512
3   4                           Angola  2007              25931
4   5                         Anguilla  2007                  0

In [72]:
merged_data = pd.merge(exported_quantity, exported_value, on=["Id", "Pa√≠s", "Ano"])
merged_data.rename(
    columns={"Pa√≠s": "Pa√≠s de destino", "exported_quantity": "Quantidade (kg/L)", "exported_value": "Valor em US$"},
    inplace=True,
)
merged_data["Pa√≠s de origem"] = "Brasil"
order = ["Id", "Pa√≠s de origem", "Pa√≠s de destino", "Ano", "Quantidade (kg/L)", "Valor em US$"]
merged_data = merged_data[order]
merged_data.head()

,Id,Pa√≠s de origem,Pa√≠s de destino,Ano,Quantidade (kg/L),Valor em US$
0,1,Brasil,Afeganist√£o,2007,0,0
1,2,Brasil,√Åfrica do Sul,2007,0,0
2,3,Brasil,"Alemanha, Rep√∫blica Democr√°tica",2007,119512,238052
3,4,Brasil,Angola,2007,25931,49753
4,5,Brasil,Anguilla,2007,0,0

In [73]:
merged_data.to_csv("../data/exported_data2007_2022.csv", index=False)